/*
    This file use to style super admin dashboard.
*/

* {
    -fx-font-family: Arial;
}

.top-border {
    -fx-background-color: #fff;
    -fx-border-color: #444;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-border {
    -fx-background-color: #efefef;
    -fx-border-color: #444;
    -fx-border-width: .2px .4px .4px .4px;
}

.minimize,
.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #fb3d63;
}

.minimize:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #ddd;
}

.image-circle {
    -fx-width: 64px;
    -fx-height: 64px;
    -fx-border-radius: 50%;
}

.gradient-top {
    -fx-background-color: linear-gradient(to bottom right, #d789d7, #9d65c9, #5d54a4, #2a3d66);
}

.navbar-button {
    -fx-background-color: #fff;
    -fx-cursor: hand;
    -fx-text-fill: #000;
    -fx-font-size: 20px;
    -fx-alignment: CENTER-LEFT;
}

.navbar-button:hover {
    -fx-background-color: #f5f5f5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5,0.3,0,2);
}

.log-out {
    -fx-background-color: #d789d7;
    -fx-font-size: 20px;
    -fx-background-radius: 5px;
}

.log-out:hover {
    -fx-background-color: #9d65c9;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10,0.3,0,0);
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6,0,0,0);
}

.shadow-light {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 25,0.2,0,0);
}

.extra-white-bg {
    -fx-background-color: #fff;
    -fx-background-radius: 6px;
}

.light-bg-green {-fx-background-color: #d1f3e0;}
.light-bg-blue {-fx-background-color: #e1f1ff;}
.light-bg-yellow {-fx-background-color: #fff2d8;}
.light-bg-red {-fx-background-color: #ffeaea;}


.card-icon {
    -fx-background-radius: 50px;
}

.white-bg {
    -fx-background-color: #fafafa;
    -fx-background-radius: 6px;
}

.search {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #d789d7, #9d65c9, #5d54a4, #2a3d66);
    -fx-border-width: .8px;
    -fx-border-radius: 5px;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
    -fx-padding: 0px 0px 0px 32px;
}

.search:focused {
    -fx-border-width: 1.5px;
    -fx-border-color: #9d65c9;
}

TableView {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right, #d789d7, #9d65c9, #5d54a4, #2a3d66);
    -fx-border-width: 1.2px;
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-background-color: #d789d7;
    -fx-background-inset: 0 0 0 0;
    -fx-text-fill: #000;
    -fx-padding: 5px 0;
}

.input-title {
    -fx-font-size: 14px;
    -fx-text-fill: #2a3d66;
}

.combo-box,
.input-box {
    -fx-padding: 6px;
    -fx-border-color: linear-gradient(to bottom right, #d789d7, #9d65c9, #5d54a4, #2a3d66);
    -fx-border-width: .8px;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-background-color: #fff !important;
    -fx-background-radius: 5px;
}

.ex-padding {
    -fx-padding: 7px;
    -fx-font-size: 16px;
    -fx-border-radius: 8px;
}

.ex-font-size {
    -fx-font-size: 16px;
}

.ex-ex-padding {
    -fx-padding: 0 10px;
}

.ex-ex-font-size {
    -fx-font-size: 22px;
}

.title-text {
    -fx-font-size: 35px;
    -fx-text-fill: #5d54a4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6,0,0,0);
}

.input-box:focused {
    -fx-border-color: linear-gradient(to bottom right, #d789d7, #9d65c9, #5d54a4, #2a3d66);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10,0.2,0,0);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.combo-box {
    -fx-padding: 2px 0;
    -fx-cursor: HAND;
}

.button-common {
    -fx-background-radius: 5px;
    -fx-cursor: HAND;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-padding: 12px;
}

.button-purple {
    -fx-background-color: #9575CD;
}

.button-purple:hover {
    -fx-background-color: #673AB7;
}

.button-green {
    -fx-background-color: #81C784;
}

.button-green:hover {
    -fx-background-color: #4CAF50;
}

.button-blue {
    -fx-background-color: #7986CB;
}

.button-blue:hover {
    -fx-background-color: #3F51B5;
}

.button-red {
    -fx-background-color: #E57373;
}

.button-red:hover {
    -fx-background-color: #F44336;
}